.sectionCreate {
    display: none;
    background-color: $color-white;
    padding: 1rem 0 3rem 0;
}

.createGifo {
    display: flex;
    justify-content: center;
}

.createGifo__camara {
    display: flex;
    justify-content: flex-end;
    // align-items: center;
    // padding-left: 10%;
    
}

.createGifo__centerSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.createGifo__content {
    border: solid 1px $color-purple;
    width: 800px;
    height: 400px;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    
}

.createGifo__content__cam {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.camTitle{
    font-family: $font-monserrat;
    font-weight: bold;
    color: $color-purple;
    font-size: 25px;
    line-height: 2rem;
}

.title--color {
    color: $color-mint-green;
}

.createGifo__content--display {
display: flex;
justify-content: center;
align-content: center;
align-self: center;
// position: relative;
}
.camText {
    // display: none;
    font-size: 16px;
    font-family: $font-roboto;
    line-height: 2rem;
}

.videoSpace {
    display: none;
    align-self: center;
    width: 500px;
    height: 300px;
    // border: 1px solid red;
    
}

.gifUploadedText {
    visibility: hidden;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 0 1000px $color-cards-hover;
    width: 400px;
    height: 300px;
    z-index: 100;
}

    .iconUploaded {
        position: absolute;
        top: 10px;
        right: 10px;
    
    }

    .centerImg{
        position: absolute;
        top: 36%;
        left: 47%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
    }
    .rotated{
        animation-name: rotation;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes rotation {
        0% {
            transform:rotate(0deg);
        }
        100% {
            transform:rotate(360deg);
        }
    }

    .shine{
        animation-name: shine;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

    }

    @keyframes shine {
        0% {
            opacity: 0;
        }        
        50% {
            opacity: 0.50;
        }        
        100% {
            opacity: 1.0;
        }
    }

    .centerText{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 15px;
        color: $color-white;
        font-family: $font-monserrat;
        font-weight: bold;
    }


.createGifo__pelicula {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 66px;

}

.createGifo__steps {
    vertical-align: middle;
    display: inline;
    width: 800px;
}

.numbersSteps {
    vertical-align: middle;
    text-align: center;
}

.steps {
    vertical-align: middle;
    display: inline-block;
    border-radius: 50%;
    background-color: $color-white;
    margin: 1rem;
    font-size: 20px;
    width: 28px;
    height: 28px;
    color: $color-purple;
    border: 1px solid $color-purple;
    font-family: $font-roboto;
}

.step-active {
    background-color: $color-purple;
    color: $color-white;
}

.timerDisplay {    
    display: inline;
    float: right;
    color: $color-purple;
    font-family: $font-monserrat;
    font-weight: bold;
    position: relative;
    bottom: 37px;
}
.repeatRec{
    &:hover {
        border-bottom: 1.5px solid $color-mint-green;
        cursor: pointer;
    }
}



.createGifo__line {
    display: flex;
    justify-content: center;
}

.line{
    background-color: $color-purple;
    width: 900px;
    height: 8px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.createGifo__divBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.createGifo__divBtn--btnSteps {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $color-purple;
    height: 50px;
    width: 130px;
    border-radius: 30px;
    margin-top: 1rem;
    color: $color-purple;
    font-family: $font-monserrat;
    font-weight: bold;
    font-size: 0.7rem;
    
    &:hover {
        background-color: $color-purple;
        color: $color-white;
        cursor: pointer;
    }    
}


// Lineas - Esquinas de la camara
.createGifo__content--cam {
    display: flex;
    justify-content: center;
    align-content: center;
    position:relative;
    width:765px;
    height:365px;
}

.createGifo__content--cam:before, .createGifo__content--cam:after, .createGifo__content--cam>:first-child:before, .createGifo__content--cam>:first-child:after {
    position:absolute;
    width:30px; height: 30px;
    border-color: $color-mint-green; /* or whatever colour */
    border-style:solid; /* or whatever style */
    content: ' ';
}

.createGifo__content--cam:before {
        top:0;
        left:0;
        border-width: 1px 0 0 1px
}

.createGifo__content--cam:after {
    top:0;
    right:0;
    border-width: 1px 1px 0 0
}

.createGifo__content--cam>:first-child:before {
    bottom:0;
    right:0;
    border-width: 0 1px 1px 0
}

.createGifo__content--cam>:first-child:after {
    bottom:0;
    left:0;
    border-width: 0 0 1px 1px
}