// muestra icono de burger normal o cerrado
.menuburger__icon--lines {
    content: url("/assets/img/burger.svg");
}

// muestra icono de burger en X o abierto
.menuburger__icon--x {
    content: url("/assets/img/close.svg");
}

.header {
    background: $color-white;
    width: 100%;
    border-top: solid $color-purple 3px;
}

    .header__menu {
        height: 90px;
        width: 90%;
        background: $color-white;
        margin: auto;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }



    .menulink {
        text-decoration: none;
        font-family: $font-monserrat;
        font-weight: bold;
        margin-right: 30px;        
    &:hover {
        border-bottom: solid $color-mint-green 2px;
    }
}

    .menuline{
        display: none;
    }

    .menulink--btncreate {
        vertical-align: middle;
        &:hover {
            content: url("/assets/img/CTA-crear-gifo-hover.svg");
        }        
    }


.menuburger {
            height: 100%;
            width: 80px;
            text-align: center;
            display: none;
}

    .menuburger--img {
        vertical-align: top;
        padding: 40px;
    }



//Stylos del Titulo del header
.title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .title__text {
        font-family: $font-monserrat;
        font-size: 1.5rem;
        font-weight: bold;
        color: $color-purple;
        text-align: center;        
        margin: 1.5rem 0;
    }

        .title__text--gren {
            color: $color-mint-green;
        }

    .title__ilustration {
        display: flex;
        flex-direction: column;
        // align-items: center;
    }

.listAutocomplete {
    position: relative;
}
    
    .listAutocomplete__iconSearch{
        position: absolute;
        right: 15px;
        top: 10px;
        &:hover {
            cursor: pointer;
        }
    }
    
    .listAutocomplete__ul {
        display: block;
        padding: 0rem 1.7rem 0 1.7rem;                
        list-style: none;
        color: $color-gray;
        line-height: 1.5rem;
    }
        .listAutocomplete__ul--firstli {
            border-top: 1px solid $color-gray;
            padding-top: 0.7rem;
        }

    .listAutocomplete {
        position: relative;
        border: none;
        border-radius: 15px;
        &:focus {
            outline: none;
            border: 1px solid $color-purple;
        }
    }
    .listAutocomplete__searchBar {
        border: 1px solid $color-purple;
        border-radius: 15px;
        width: 35.625rem;
        height: 2.3rem;
        background: transparent;
        padding: 1.2rem 3rem;
        &:focus {
            outline: none;
            //border: 2px solid $color-purple;                
        }
    }

    .listAutocomplete--focus {
        border: 1px solid $color-purple;
    }

    .listAutocomplete__searchBar--focus {
        border: none;
    }
    
    .listAutocomplete__iconSearch{
        position: absolute;
        right: 15px;
        top: 10px;
        &:hover {
            cursor: pointer;
        }
    }
    
    .li__iconSearch {
        font-size: 0.8rem;
        margin-right: 0.5rem;
        //font-weight :bold;            
    }

    .trending {
        margin: 3rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $color-purple;
        font-family: $font-monserrat;
    }
        .trending__title {
            margin-bottom: 0.8rem;
            font-family: $font-monserrat;
            font-weight: bold;
            font-size: 1.125rem;
            
        }
        .trending__terms {
            font-weight: normal;
            font-size: 1rem;
            &:hover {
                cursor: pointer;
            }
        }

