main {
    width: 100%;
    display: grid;
    background: $color-gray;
}

.search {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background: $color-white;
}
    .searchText {
        text-align: center;
        margin-bottom: 3rem;
    }
        .searchText__title {
            font-family: $font-monserrat;
            font-weight: bold;
            color: $color-purple;
        }

    .searchResult {
        display: flex;
        flex-wrap: wrap;
        width: 90vw;
        margin: 1rem 5%;            
        justify-content: center;
        align-items: center;
    }
        .searchResult__cards {
            position: relative;
            width: 260px;
            height: 200px;
            background-repeat: no-repeat;
            background-position: center top;
            background-size: cover;
            // overflow: hidden;
            margin: 1rem;
        }
            // .searchResult__img {
            //     // width: auto;
            //     // height: 100%;
            //     display: block;
            //     margin: auto;
            // }

    .searchShowMore{
        justify-content: center;
        align-items: center;
        display: none;
        width:127px;
        height:50px;
        margin: 2rem 0;
        background-image: url("/assets/img/CTA-ver-mas.svg");
        &:hover{                
            background-image: url("/assets/img/CTA-ver-mas-hover.svg");
        }
    }



    .trendingGifosContainer{
        display: flex;
        flex-direction: column;
    }

    .trendingGifosTexts {
        text-align: center;
        margin: 4rem 0;
        font-family: $font-monserrat;
    }          
        .trendingGifosTexts__title {
            color: $color-purple;
            font-weight: bold;           
            margin-bottom: 1rem;
        }

    .trendingGifos{            
        margin-bottom: 8rem;
        display: flex;
        //flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

        .trendingGifos__cardsContainer {
            display: flex;
            justify-content: center;
            align-items:center;
            width: 85vw;
            overflow-x: hidden;
            // margin: 0 1rem;
        }

            .trendingGifos__card {
                position: relative;
                min-width: 21.875rem;
                min-height: 15.625rem;
                background-repeat: no-repeat;
                background-position: center top;
                background-size: cover;
                margin: 0 1rem;
            }

            .trendingGifos__card {
                &:hover {
                    box-shadow: inset 0 0 0 1000px $color-cards-hover;
                }
            }

.hoverCardText {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    font-family: $font-roboto;
    color: $color-white;
    // display: none;
    z-index: 10;
}

.hoverCardText--title {
    font-weight: bold;
}


.hoverIconsCard {
    position: absolute;
    top: 1rem;
    right: 1rem;
    // width: 2rem;
    // height: 2rem;
    // display: none;
}




// @mixin hoverIconsCard($right-value) {
//     position: absolute;
//     top: 1rem;
//     right: $right-value;
//     width: 2rem;
//     height: 2rem;
//     display: none;
// }
// .hoverCardIconFav {
//     @include hoverIconsCard(6rem)
// }

// .hoverCardIconDow {
//     @include hoverIconsCard(3.5rem)
// }

// .hoverCardIconMax {
//     @include hoverIconsCard(1rem)
// }

.active {
    display: block;
}