@media screen and (max-width: 769px) {
    .menuburger {
        padding-top: 30px;
        display: block;
    }

    .menulist {
        z-index: 1;
        position: fixed;
        background: $color-purple-t;
        left: 0;
        top: 90px;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        transform: translateX(100%);
    }
        .menulink {
            margin: 40px 0 0 0;
            color: $color-white;
            &::after {
                content: "______";
                color: $color-gray;
                display: block;
                text-align: center;
            }
        }

        .menulink--btncreate {
            display: none;
        }
        
        
        .menulist2 {
            transform: translateX(0%);
        }
        

        .title__text {
            width: 90%;
            font-size: 1rem;
        }
        
        .title__ilustration--size{
            width: 270px;
            height: auto;
        }
        
        .listAutocomplete__searchBar {                
            width: 290px;
        }

        .trending {
            width: 80%;
        }

        .trending__terms {
            display: flex;
            justify-content: center;
            align-content: center;
            flex-wrap: wrap;
        }
}
