@media screen and (max-width: 600px) {
    .trendingGifos__leftRow {
        display: none;
    }

    .trendingGifos__rightRow{
        display: none;
    
    }

    .trendingGifos__cardsContainer {
        width: 90vw;
    }

    .searchResult {
        width: 100vw;
    }
    .searchResult__cards {
        width: 160px;
        height: 80px;
    }


}