$color-purple: #572EE5;
$color-purple-t: rgba(87,46,229,0.90);
$color-mint-green: #50E3C2;
$color-gray: #9CAFC3;
$color-bg-header: rgba(255,255,255,0.50);
$color-white: #FFFFFF;
$font-monserrat: 'Montserrat', sans-serif;
$font-roboto: 'Roboto', sans-serif;