@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.burger-normal {
  content: url("/assets/img/burger.svg");
}

.burger-close {
  content: url("/assets/img/close.svg");
}

header {
  background: #FFFFFF;
  width: 100%;
}

header nav.menu {
  height: 90px;
  width: 90%;
  background: #FFFFFF;
  margin: auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav.menu .items a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-right: 30px;
  vertical-align: middle;
}

header nav.menu .items .item-menu:hover {
  border-bottom: 1.5px solid #50E3C2;
}

header nav.menu .burger {
  height: 100%;
  width: 80px;
  text-align: center;
  display: none;
}

header nav.menu .burger img {
  vertical-align: top;
  padding: 40px;
}

.title-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-container .title-text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #572EE5;
  text-align: center;
  margin: 1.5rem 0;
}

.title-container .title-text h2 span {
  color: #50E3C2;
}

.title-container .title-ilustration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-container .title-ilustration input {
  border: 1px solid #572EE5;
  border-radius: 15px;
  width: 35.625rem;
  height: 2.3rem;
  background: url(/assets/img/icon-search.svg) no-repeat;
  background-position: 95% 50%;
  padding-left: 3rem;
}

.title-container .title-ilustration input:focus {
  outline: none;
  border: 2px solid #572EE5;
}

.title-container .trending {
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #572EE5;
  font-family: "Montserrat", sans-serif;
}

.title-container .trending h3 {
  margin-bottom: 0.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
}

.title-container .trending p {
  font-weight: normal;
  font-size: 1rem;
}

@media screen and (max-width: 769px) {
  header nav.menu .burger {
    display: block;
  }
  header nav.menu .items {
    z-index: 1;
    position: fixed;
    background: rgba(87, 46, 229, 0.9);
    left: 0;
    top: 90px;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  header nav.menu .items a {
    margin: 30px 0;
    color: #FFFFFF;
  }
  header nav.menu .items a:last-child {
    display: none;
  }
  header nav.menu .items2 {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  header .title-container .title-ilustration input {
    width: 320px;
  }
}

main {
  width: 100%;
  display: -ms-grid;
  display: grid;
  background: #9CAFC3 100%;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem 2.5rem;
  font-family: "Roboto", sans-serif;
  background: #FFFFFF;
}

footer img {
  margin: auto 0.7rem;
}
/*# sourceMappingURL=style.css.map */