@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.menuburger__icon--lines {
  content: url("./assets/img/burger.svg");
}

.menuburger__icon--x {
  content: url("./assets/img/close.svg");
}

.header {
  background: #FFFFFF;
  width: 100%;
  border-top: solid #572EE5 3px;
}

.header__menu {
  height: 90px;
  width: 90%;
  background: #FFFFFF;
  margin: auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menulink {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-right: 30px;
}

.menulink:hover {
  border-bottom: solid #50E3C2 2px;
}

.menuline {
  display: none;
}

.menulink--btncreate {
  vertical-align: middle;
}

.menulink--btncreate:hover {
  content: url("./assets/img/CTA-crear-gifo-hover.svg");
}

.menuburger {
  height: 100%;
  width: 80px;
  text-align: center;
  display: none;
}

.menuburger--img {
  vertical-align: top;
  padding: 40px;
}

.title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #572EE5;
  text-align: center;
  margin: 1.5rem 0;
}

.title__text--gren {
  color: #50E3C2;
}

.title__ilustration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.listAutocomplete {
  position: relative;
}

.listAutocomplete__iconSearch {
  position: absolute;
  right: 15px;
  top: 10px;
}

.listAutocomplete__iconSearch:hover {
  cursor: pointer;
}

.listAutocomplete__ul {
  display: block;
  padding: 0rem 1.7rem 0 1.7rem;
  list-style: none;
  color: #9CAFC3;
  line-height: 1.5rem;
}

.listAutocomplete__ul--firstli {
  border-top: 1px solid #9CAFC3;
  padding-top: 0.7rem;
}

.listAutocomplete {
  position: relative;
  border: none;
  border-radius: 15px;
}

.listAutocomplete:focus {
  outline: none;
  border: 1px solid #572EE5;
}

.listAutocomplete__searchBar {
  border: 1px solid #572EE5;
  border-radius: 15px;
  width: 35.625rem;
  height: 2.3rem;
  background: transparent;
  padding: 1.2rem 3rem;
}

.listAutocomplete__searchBar:focus {
  outline: none;
}

.listAutocomplete--focus {
  border: 1px solid #572EE5;
}

.listAutocomplete__searchBar--focus {
  border: none;
}

.listAutocomplete__iconSearch {
  position: absolute;
  right: 15px;
  top: 10px;
  z-index: 10;
}

.listAutocomplete__iconSearch:hover {
  cursor: pointer;
}

.li__wordSearch:hover {
  cursor: pointer;
}

.li__iconSearch {
  font-size: 0.8rem;
  margin-right: 0.5rem;
}

.li__iconSearch:hover {
  cursor: pointer;
}

.trending {
  margin: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #572EE5;
  font-family: "Montserrat", sans-serif;
}

.trending__title {
  margin-bottom: 0.8rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
}

.trending__terms {
  font-weight: normal;
  font-size: 1rem;
}

.trending__terms:hover {
  cursor: pointer;
}

.page {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page__title {
  color: #572EE5;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 5rem;
}

.page__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 431px;
  text-align: center;
}

.page__image--text {
  color: #50E3C2;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
}

.page__showGifs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 769px) {
  .menuburger {
    padding-top: 30px;
    display: block;
  }
  .menulist {
    z-index: 1;
    position: fixed;
    background: rgba(87, 46, 229, 0.9);
    left: 0;
    top: 90px;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .menulink {
    margin: 40px 0 0 0;
    color: #FFFFFF;
  }
  .menulink::after {
    content: "______";
    color: #9CAFC3;
    display: block;
    text-align: center;
  }
  .menulink--btncreate {
    display: none;
  }
  .menulist2 {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .title__text {
    width: 90%;
    font-size: 1rem;
  }
  .title__ilustration--size {
    width: 270px;
    height: auto;
  }
  .listAutocomplete__searchBar {
    width: 290px;
  }
  .trending {
    width: 80%;
  }
  .trending__terms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

main {
  width: 100%;
  display: -ms-grid;
  display: grid;
  background: #9CAFC3;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
}

.searchText {
  text-align: center;
  margin-bottom: 3rem;
}

.searchText__title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #572EE5;
}

.searchResult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 90vw;
  margin: 1rem 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchResult__cards {
  position: relative;
  width: 260px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  margin: 1rem;
}

.searchResult__cards:hover {
  -webkit-box-shadow: inset 0 0 0 1000px rgba(87, 46, 229, 0.6);
          box-shadow: inset 0 0 0 1000px rgba(87, 46, 229, 0.6);
}

.searchShowMore {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  width: 127px;
  height: 50px;
  margin: 2rem 0;
  background-image: url("/assets/img/CTA-ver-mas.svg");
}

.searchShowMore:hover {
  background-image: url("/assets/img/CTA-ver-mas-hover.svg");
  cursor: pointer;
}

.searchShowMore-noc {
  background-image: url("/assets/img/CTA-ver_mas-modo-noc.svg");
}

.searchShowMore-noc:hover {
  background-image: url("/assets/img/CTA-ver_mas-hover-modo-noc.svg");
}

.trendingGifosContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.trendingGifosTexts {
  text-align: center;
  margin: 4rem 0;
  font-family: "Montserrat", sans-serif;
}

.trendingGifosTexts__title {
  color: #572EE5;
  font-weight: bold;
  margin-bottom: 1rem;
}

.trendingGifos {
  margin-bottom: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trendingGifos__cardsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85vw;
  overflow-x: hidden;
}

.trendingGifos__card {
  position: relative;
  min-width: 21.875rem;
  min-height: 15.625rem;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  margin: 0 1rem;
}

.trendingGifos__card:hover {
  -webkit-box-shadow: inset 0 0 0 1000px rgba(87, 46, 229, 0.6);
          box-shadow: inset 0 0 0 1000px rgba(87, 46, 229, 0.6);
}

.hoverCardText {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  visibility: hidden;
}

.hoverCardText--title {
  font-weight: bold;
}

.hoverIconsCard {
  position: absolute;
  top: 1rem;
  right: 1rem;
  visibility: hidden;
}

.hoverIcon {
  padding-top: 8px;
  text-align: center;
  border-radius: 8px;
  width: 32px;
  height: 32px;
  font-size: 1.3rem;
  opacity: 0.5;
  margin: 0 5px;
  background: #FFFFFF;
  color: #572EE5;
}

.hoverIcon:hover {
  opacity: 1;
}

.iconActive {
  opacity: 1;
  color: #572EE5;
}

.sectionCreate {
  display: block;
  background-color: #FFFFFF;
  padding: 1rem 0 3rem 0;
}

.createGifo {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.createGifo__camara {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.createGifo__centerSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.createGifo__content {
  border: solid 1px #572EE5;
  width: 800px;
  height: 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 1rem;
}

.createGifo__content__cam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.camTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #572EE5;
  font-size: 25px;
  line-height: 2rem;
}

.title--color {
  color: #50E3C2;
}

.createGifo__content--display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.camText {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 2rem;
}

.videoSpace {
  display: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 500px;
  height: 300px;
}

.gifUploadedText {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: inset 0 0 0 1000px rgba(87, 46, 229, 0.6);
          box-shadow: inset 0 0 0 1000px rgba(87, 46, 229, 0.6);
  width: 400px;
  height: 300px;
  z-index: 100;
}

.iconUploaded {
  position: absolute;
  top: 10px;
  right: 10px;
}

.centerImg {
  position: absolute;
  top: 36%;
  left: 47%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
}

.rotated {
  -webkit-animation-name: rotation;
          animation-name: rotation;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.shine {
  -webkit-animation-name: shine;
          animation-name: shine;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes shine {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.50;
  }
  100% {
    opacity: 1.0;
  }
}

@keyframes shine {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.50;
  }
  100% {
    opacity: 1.0;
  }
}

.centerText {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 15px;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.createGifo__pelicula {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 66px;
}

.createGifo__steps {
  vertical-align: middle;
  display: inline;
  width: 800px;
}

.numbersSteps {
  vertical-align: middle;
  text-align: center;
}

.steps {
  vertical-align: middle;
  display: inline-block;
  border-radius: 50%;
  background-color: #FFFFFF;
  margin: 1rem;
  font-size: 20px;
  width: 28px;
  height: 28px;
  color: #572EE5;
  border: 1px solid #572EE5;
  font-family: "Roboto", sans-serif;
}

.steps-noc {
  background-color: #37383C;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}

.step-active {
  background-color: #572EE5;
  color: #FFFFFF;
}

.step-active-noc {
  background-color: #FFFFFF;
  color: #37383C;
}

.timerDisplay {
  display: inline;
  float: right;
  color: #572EE5;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: relative;
  bottom: 37px;
}

.repeatRec:hover {
  border-bottom: 1.5px solid #50E3C2;
  cursor: pointer;
}

.createGifo__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.line {
  background-color: #572EE5;
  width: 900px;
  height: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

.createGifo__divBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.createGifo__divBtn--btnSteps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #572EE5;
  height: 50px;
  width: 130px;
  border-radius: 30px;
  margin-top: 1rem;
  color: #572EE5;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 0.7rem;
}

.createGifo__divBtn--btnSteps:hover {
  background-color: #572EE5;
  color: #FFFFFF;
  cursor: pointer;
}

.btnSteps-noc {
  border: 1px solid #FFFFFF;
}

.createGifo__content--cam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  width: 765px;
  height: 365px;
}

.createGifo__content--cam:before, .createGifo__content--cam:after, .createGifo__content--cam > :first-child:before, .createGifo__content--cam > :first-child:after {
  position: absolute;
  width: 30px;
  height: 30px;
  border-color: #50E3C2;
  /* or whatever colour */
  border-style: solid;
  /* or whatever style */
  content: ' ';
}

.createGifo__content--cam:before {
  top: 0;
  left: 0;
  border-width: 1px 0 0 1px;
}

.createGifo__content--cam:after {
  top: 0;
  right: 0;
  border-width: 1px 1px 0 0;
}

.createGifo__content--cam > :first-child:before {
  bottom: 0;
  right: 0;
  border-width: 0 1px 1px 0;
}

.createGifo__content--cam > :first-child:after {
  bottom: 0;
  left: 0;
  border-width: 0 0 1px 1px;
}

@media screen and (max-width: 600px) {
  .trendingGifos__leftRow {
    display: none;
  }
  .trendingGifos__rightRow {
    display: none;
  }
  .trendingGifos__cardsContainer {
    width: 90vw;
  }
  .searchResult {
    width: 100vw;
  }
  .searchResult__cards {
    width: 160px;
    height: 80px;
  }
}

.modal {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5);
  /* Black w/ opacity */
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3000;
}

.modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 70vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
}

.modal__slide--gif {
  width: auto;
  height: 200px;
  overflow: hidden;
  text-align: center;
}

.modal__slide--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
  font-family: "Roboto", sans-serif;
}

.modal__slide--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__slide--imgGif {
  width: auto;
  height: 100%;
}

@supports ((-o-object-fit: cover) or (object-fit: cover)) {
  .modal__slide--imgGif {
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }
}

.modal__content--leftArrow {
  margin-right: 1rem;
}

.modal__content--leftArrow:hover {
  content: url("./assets/img/button-slider-left-hover.svg");
}

.modal__content--rightArrow {
  margin-left: 1rem;
}

.modal__content--rightArrow:hover {
  content: url("./assets/img/button-slider-right-hover.svg");
}

.modal__slide--close {
  position: absolute;
  top: 170px;
  right: 400px;
  color: #572EE5;
  font-size: 1.4rem;
}

.modal__slide--close:hover {
  cursor: pointer;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem 2.5rem;
  font-family: "Roboto", sans-serif;
  background: #FFFFFF;
}

footer img {
  margin: auto 0.7rem;
}

.dark-mode-light {
  background-color: #37383C;
}

.dark-mode-light a, .dark-mode-light h3, .dark-mode-light h2, .dark-mode-light p, .dark-mode-light input {
  color: #FFFFFF;
}

.dark-mode-light li {
  color: #9CAFC3;
}

.dark-mode-light .imgLeftRow {
  content: url("/assets/img/button-slider-left-md-noct.svg");
}

.dark-mode-light .imgLeftRow:hover {
  background-color: #FFFFFF;
  color: #37383C;
}

.dark-mode-light .imgRightRow {
  content: url("/assets/img/button-slider-right-md-noct.svg");
}

.dark-mode-light .imgRightRow:hover {
  background-color: #FFFFFF;
  color: #37383C;
}

.dark-mode-black {
  background-color: #222326;
}

.dark-mode-black a, .dark-mode-black h3, .dark-mode-black h2, .dark-mode-black p, .dark-mode-black input {
  color: #FFFFFF;
}

.dark-mode-black li {
  color: #9CAFC3;
}

.dark-mode-black .imgLeftRow {
  content: url("/assets/img/button-slider-left-md-noct.svg");
}

.dark-mode-black .imgLeftRow:hover {
  background-color: #FFFFFF;
  color: #37383C;
}

.dark-mode-black .imgRightRow {
  content: url("/assets/img/button-slider-right-md-noct.svg");
}

.dark-mode-black .imgRightRow:hover {
  background-color: #FFFFFF;
  color: #37383C;
}

.divAutocomplete-focus-noc {
  border: 1px solid #FFFFFF;
}

.divAutocomplete-focus-noc img .iconSearchNoc {
  content: url("./assets/img/icon-search-mod-noc.svg");
}

.btnCreate-noc img {
  content: url("./assets/img/CTA-crar-gifo-modo-noc.svg");
}

.btnCreate-noc img:hover {
  content: url("./assets/img/CTA-crear-gifo-hover-modo-noc.svg");
}

.cam-noc {
  content: url("./assets/img/camara-modo-noc.svg");
}

.pelicula-noc {
  content: url("./assets/img/pelicula-modo-noc.svg");
}
/*# sourceMappingURL=style.css.map */